
<div class="loginPage">
  <div class="inLog">
<h1>Start Tracking with RootCrypto</h1>
<form class="login" action="/signup" method="POST">
<div class="sign">
  <label>Name: </label>
  <input class="signUp" name="username" type="text"  placeholder="Enter your username"  >

  <label>Email: </label>
  <input class="signUp" name="email" type="text"  placeholder="Enter your email"  >

  <label>Password: </label>
  <input class="signUp" name="password" type="password"  placeholder="Enter your Password"  >
  </div>
  <button class="btn btn-dark">Sign Up</button>
</form>
<img class="signupImg" src="https://joy.videvo.net/videvo_files/video/free/2018-04/thumbnails/180405_FinancialCharts_25_small.jpg" alt="">
</div>

</div>
{{#if error}}
<p class="error">{{error}}</p>
{{/if}}




