body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

button {
  background-color: white;

}

.navbar {
  margin-bottom: 20px;
}

.login {
  margin-top: 20px;
}

label {
  margin-right: 10px;
  font-family: 'Space Mono', monospace;

}

#red {
  background-color: red;
}


.title {
  display: flex;
  justify-content: center;
}


input {
  background-color:#212429 ;
  border: gray 2px solid;
  color: white;
}

h1 {
  font-family: 'Space Mono', monospace;


}


a {
  font-family: 'Space Mono', monospace;


}

body {
  background-color: black !important;
  color: white !important;
  font-family: 'Space Mono', monospace;


}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}


tr {
  color: white;
  
}

th {
  margin: 10px 0;
  font-family: 'Space Mono', monospace;

}

button:hover,
button:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
  background-color: gray;
}

.frontImg {
  width: 500px
}


.buttonDiv {
  display: flex;
}



.mainDiv {
  display: flex;
  margin-top: 100px;
  width: auto;
  margin: auto;
  text-align: center;
  align-items: center;
}

.main {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -500px;

}


.signUp {
  width: 30%;
}


#space {
  margin-right: 10px;
}


.sign {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}